.box {
  display: flex;
  background-size: cover;
  justify-content: space-around;
}
.img {
  width: 400px;
  padding: 40px;
  border-radius: 80px;
}
.back {
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.info {
  margin: 20px 20px 0 20px;
  color: white;
}
.title {
  font-size: 40px;
  margin-top: 40px;
}
.overview,
.genres {
  margin: 20px 0;
}
.textOverview {
  letter-spacing: 0.5px;
}

.casts,
.reviews {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #cd65d9;
  color: white;
}
.reviews {
  margin-left: 20px;
  margin-bottom: 20px;
}
