.img {
  width: 250px;
  transition: filter 0.3s ease-in-out;
  border-radius: 20px 20px 0 0;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px 10px;
}
.title, .range {
padding: 5px 0;
max-width: 200px;
}
.range {
  color: red;
}